.new-expense {
    padding: 1rem;
    margin: 2rem auto;
    width: 40rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
}

.new-expense button {
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 2rem;
    width: 100%;
    background-color: #000;
    color: white;
    border-radius: 12px;
    border-width: 0px;
}

.new-expense button:hover,
.new-expense button:active {
    background-color: rgb(42, 42, 42);
}

.new-expense button.alternative {
    flex: 1 1 0;
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
    background-color: #f9f9f9;
}
